<div class="post">
  <h2 class="title">Contact information</h2>
  <div class="entry">If you have any questions about OSP Docker Study Group, do not hesitate to contact Ellen by Skype or phone call to extension #309.</div>
</div>
