<div class="post">
  <h2 class="title">Resources</h2>
  <div class="entry"><a href="https://confluence.osp-dd.de/display/DOT/Docker+study+group" target="_blank">Docker Study Group pages on Confluence</a></div>
</div>
